Flask==2.3.3
flask-cors==4.0.0
python-dotenv==1.0.0
torch==2.3.0+cpu
torchvision==0.18.0+cpu
torchaudio==2.3.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

opencv-python-headless
numpy
pillow
gunicorn
huggingface_hub==0.23.4
transformers==4.30.2
pymongo
flask-jwt-extended
python-multipart
flask-mail
twilio
pyjwt
authlib
werkzeug